<div class="col-md-12 mt-2 box-register">
<!--Formulario de registro-->
<div class="row">

    <div class="col-md-6" style="background:#fff;padding-top:5%;padding-bottom:10%;">

<div class="col-md-12">
  <h3 class="mt-3 mb-3" style="color:#707070;">Registro</h3>

  <div class="alert alert-success" *ngIf="status == 'success'">
    El registro se ha completado correctamente.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    El registro no se ha completado correctamente, vuelve a intentarlo.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error1'">
    Este email ya esta en uso, intentalo con otro.
  </div>
</div>

      <form  #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

        <div class="col-md-12">
        <div class="row mt-2">
          <div class="form-group col-md-6">
            <label for="password">Nombre</label>
             <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name"
              required pattern="[a-zA-Z]+" placeholder="Juan"  style="border:2px #ff9052 solid">
             <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
               El nombre no es valido.
               </small>
          </div>
          <div class="form-group col-md-6">
            <label for="password">Apellido</label>
             <input type="text" name="lastname"  class="form-control"  #lastname="ngModel" [(ngModel)]="user.lastname"
             required pattern="[a-zA-Z]+" placeholder="Perez"  style="border:2px #ff9052 solid">
             <small *ngIf="!lastname.valid && lastname.touched" class="invalid-feedback d-block">
               El apellido no es valido.
               </small>
          </div>
        </div>
        </div>

      <div class="col-md-12">
        <div class="row mt-2">
          <div class="form-group col-md-6">
            <label for="password">Email</label>
             <input type="text" name="email"  class="form-control" #email="ngModel" [(ngModel)]="user.email" required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="juan@ejemplo.com"  style="border:2px #ff9052 solid">
             <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
               El email no es valido.
               </small>
          </div>
          <div class="form-group col-md-6">
            <label for="password">Contraseña</label>
             <input type="password" name="password"  class="form-control"  #password="ngModel" [(ngModel)]="user.password"
             required placeholder="Contraseña"  style="border:2px #ff9052 solid">
             <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
               La contraseña no es valido.
               </small>
          </div>
        </div>

      </div>

        <div class="col-md-12">
          <div class="row mt-2">
            <div class="form-group col-md-6">
               <label for="phone">Teléfono</label>
               <input type="text" name="phone"  class="form-control" #phone="ngModel" [(ngModel)]="user.phone" required pattern="[0-9]+"
               placeholder="8092460000"  style="border:2px #ff9052 solid">
               <small *ngIf="!phone.valid && phone.touched" class="invalid-feedback d-block" >
                 El teléfono no es valido.
                 </small>
            </div>
          <div class="form-group col-md-6">
            <label>Elige tu ciudad</label>

            <select class="browser-default custom-select" #city="ngModel" [(ngModel)]="user.city" name="city"
            style="border:2px #ff9052 solid"  required>
                <option  [value]="item" *ngFor="let item of cities">{{item}}</option>
            </select>

            <small *ngIf="!city.valid && city.touched" class="invalid-feedback d-block">
              Elige una ciudad.
              </small>

          </div>
          </div>
        </div>

      <div class="col-md-12">
        <div  class="form-group">

           <label for="dob">Fecha de nacimiento</label>
           <input type="date" name="dob" class="form-control" max='2001-12-31' #date="ngModel" [(ngModel)]="user.dob"
            style="border:2px #ff9052 solid" required>
           <small *ngIf="!date.valid && date.touched" class="invalid-feedback d-block">
             La fecha no es valido.
             </small>
         </div>
         <input type="submit" value="Registrarme" class="btn mb-2" [disabled]="registerForm.invalid" style="background-color:#ff9052;color:white;">

      </div>



      </form>

    </div>

    <div class="col-md-6" style="padding-top:10%;">

     <div class="col-md-12">

       <h3 class="mt-3 mb-3" style="color:#fff;">Innovando a través del comercio electrónico.</h3>
       <h5 class="mt-3 mb-3" style="color:#fff;">Al registrarte formas parte de la innovación y nos ayudas a mejorar la plataforma.
        Que esperas para empezar.</h5>

        <h6 class="pt-3" style="color:#fff;">¿Tienes una cuenta?</h6>

        <a  [routerLink]="['/login']" class="color:white;">
         <div class="" style="border:2px #fff solid;color:white;margin-right:70%;padding:1%;text-align:center;">
            Login aquí
         </div>
        </a>
     </div>
    </div>
</div>

</div>
