<div class="col-md-12">
  <div class="row box p-5">

    <div class="col-md-6 pt-5" style="color:white;">
      <h2>No solo creamos websites, creamos experiencias únicas.</h2>

      <h5 class="pt-3">Somos una empresa dominicana que busca facilitar los procesos de
      compra a negocios de la forma mas sencilla. </h5>

      <h5 class="pt-3">Nuestra visión es ayudar a los negocios a empezar o crecer sus tiendas en línea.</h5>
      <h5 class="pt-3">Creemos en la innovación, calidad y servicio.</h5>
      <h5 class="pt-3">Creemos en el trabajo en equipo. Tu tambien nos puedes ayudar a crecer. Puedes
      contactarnos por las vías disponibles y darnos tu feedback. </h5>
      <h5 class="pt-5"></h5>
    </div>

    <div class="col-md-6 pt-5 pb-5">
      <h1 style="color:white;font-family:pacifico;">Zerdaly</h1>
      <h6 style="color:white;">Innovando a través del comercio electrónico.</h6>
      <h6 style="color:white;">Email: info@zerdaly.com</h6>
    </div>

  </div>

</div>
